# Movie Lens DataSet- Recommendation Engine

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data_cols = ['user id','movie id','rating','timestamp']
item_cols = ['movie id','movie title','release date','video release date','IMDb URL','unknown','Action','Adventure','Animation','Childrens','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance ','Sci-Fi','Thriller','War' ,'Western']
user_cols = ['user id','age','gender','occupation','zip code']

In [3]:
users = pd.read_csv('u_user.csv', names=user_cols)
item = pd.read_csv('u_item.csv', names=item_cols)
data = pd.read_csv('u_data.csv', names=data_cols)

In [4]:
print users.head()
print item.head()
print data.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213
   movie id        movie title release date  video release date  \
0         1   Toy Story (1995)   01/01/1995                 NaN
1         2   GoldenEye (1995)   01/01/1995                 NaN
2         3  Four Rooms (1995)   01/01/1995                 NaN
3         4  Get Shorty (1995)   01/01/1995                 NaN
4         5     Copycat (1995)   01/01/1995                 NaN

                                            IMDb URL  unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Childrens   ...     Fantasy  Film-Noir  Horror  \
0          0          1          1   ...           0          0       0
1          1          0          0   ...           0          0       0
2          0          0          0   ...           0          0       0
3          0          0          0   ...           0          0       0
4          0          0          0   ...           0          0       0

   Musical  Mystery  Romance   Sci-Fi  Thriller  War  Western
0        0        0         0       0         0    0        0
1        0        0         0       0         1    0        0
2        0        0         0       0         1    0        0
3        0        0         0       0         0    0        0
4        0        0         0       0         1    0        0

[5 rows x 24 columns]
   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [5]:
print users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
user id       943 non-null int64
age           943 non-null int64
gender        943 non-null object
occupation    943 non-null object
zip code      943 non-null object
dtypes: int64(2), object(3)
memory usage: 36.9+ KB
None

In [6]:
print data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
user id      100000 non-null int64
movie id     100000 non-null int64
rating       100000 non-null int64
timestamp    100000 non-null int64
dtypes: int64(4)
memory usage: 3.1 MB
None

In [7]:
print item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
movie id              1682 non-null int64
movie title           1682 non-null object
release date          1681 non-null object
video release date    0 non-null float64
IMDb URL              1679 non-null object
unknown               1682 non-null int64
Action                1682 non-null int64
Adventure             1682 non-null int64
Animation             1682 non-null int64
Childrens             1682 non-null int64
Comedy                1682 non-null int64
Crime                 1682 non-null int64
Documentary           1682 non-null int64
Drama                 1682 non-null int64
Fantasy               1682 non-null int64
Film-Noir             1682 non-null int64
Horror                1682 non-null int64
Musical               1682 non-null int64
Mystery               1682 non-null int64
Romance               1682 non-null int64
Sci-Fi                1682 non-null int64
Thriller              1682 non-null int64
War                   1682 non-null int64
Western               1682 non-null int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.4+ KB
None

Creating a merged dataframe

### Popularity Based Model

In [8]:
dataset = pd.merge(pd.merge(item, data),users)

In [9]:
dataset.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Childrens,...,Thriller,War,Western,user id,rating,timestamp,age,gender,occupation,zip code
0,1,Toy Story (1995),01/01/1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,308,4,887736532,60,M,retired,95076
1,4,Get Shorty (1995),01/01/1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,308,5,887737890,60,M,retired,95076
2,5,Copycat (1995),01/01/1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,1,0,0,308,4,887739608,60,M,retired,95076
3,7,Twelve Monkeys (1995),01/01/1995,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,308,4,887738847,60,M,retired,95076
4,8,Babe (1995),01/01/1995,NaN,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,...,0,0,0,308,5,887736696,60,M,retired,95076

Dataframe with mean and total number of ratings

In [10]:
ratings = dataset.groupby('movie title').size()

In [11]:
rt = (dataset.groupby('movie title'))['movie title','rating']
ratings_mean = (rt.mean())

In [12]:
ratings = pd.DataFrame({'movie title':ratings.index, 'total ratings': ratings.values})

In [13]:
ratings_mean['movie title'] = ratings_mean.index

In [14]:
final = pd.merge(ratings_mean, ratings).sort_values(by = 'total ratings', ascending = False)
print final.head()

        rating              movie title  total ratings
1523  3.878319         Toy Story (1995)            452
1543  3.798469    Twelve Monkeys (1995)            392
712   4.120879         Hugo Pool (1997)            364
1341  4.120879     Sliding Doors (1998)            364
250   4.120879  Butcher Boy, The (1998)            364

In [15]:
print final.describe()

            rating  total ratings
count  1664.000000    1664.000000
mean      4.113799     183.857572
std       0.078609      23.325989
min       2.761905      10.000000
25%       4.120879     182.000000
50%       4.120879     182.000000
75%       4.120879     182.000000
max       4.385768     452.000000

In [16]:
final = final[:300].sort_values(by = 'rating', ascending = False)
print final.head()

        rating                 movie title  total ratings
1572  4.385768  Usual Suspects, The (1995)            267
225   4.151515           Braveheart (1995)            297
1188  4.120879        Prophecy, The (1995)            182
1182  4.120879        Private Parts (1997)            182
1183  4.120879    Professional, The (1994)            182

### Similarity Based models

In [17]:
print users.shape

(943, 5)

In [18]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']

In [19]:
data = pd.read_csv('u_data.csv', names=r_cols)

In [20]:
ratings_base = pd.read_csv('ua.base', sep='\t', names=r_cols, encoding='latin-1')

In [21]:
ratings_base.head()

   user_id  movie_id  rating  unix_timestamp
0        1         1       5       874965758
1        1         2       3       876893171
2        1         3       4       878542960
3        1         4       3       876893119
4        1         5       3       889751712

In [22]:
ratings_test = pd.read_csv('ua.test', sep='\t', names=r_cols, encoding='latin-1')

In [23]:
ratings_test.head()

   user_id  movie_id  rating  unix_timestamp
0        1        20       4       887431883
1        1        33       4       878542699
2        1        61       4       878542420
3        1       117       3       874965739
4        1       155       2       878542201

In [24]:
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [25]:
n_users = data.user_id.unique().shape[0]
n_items = data.movie_id.unique().shape[0]
print '\nNumber of Users = ' + str(n_users) + ' | Number of movies = ' + str(n_items)

Number of Users = 943 | Number of movies = 1682

In [26]:
df_matrix = np.zeros((n_users, n_items))
for line in data.itertuples():
    df_matrix[line[1]-1,line[2]-1] = line[3]

from sklearn.metrics.pairwise import pairwise_distances

user_similarity = pairwise_distances(df_matrix, metric = 'euclidean')
item_similarity = pairwise_distances(df_matrix.T, metric = 'euclidean')

#### Check 5 similar users for a particular user id and similar items for a particular item

In [28]:
sim_user = pd.DataFrame(user_similarity).loc[195,pd.DataFrame(user_similarity).loc[195,:]> 0].sort_values(ascending=True)[0:5]

sim_item = pd.DataFrame(item_similarity).loc[241,pd.DataFrame(item_similarity).loc[241,:]> 0].sort_values(ascending=True)[0:5]

In [29]:
print "Similar users for user id 196: \n", sim_user

Similar users for user id 196:
684    24.576411
18     24.819347
650    24.939928
865    25.199206
154    25.238859
Name: 195, dtype: float64

In [30]:
print "Similar items for item id 242: \n", sim_item

Similar items for item id 242:
888     43.208795
1250    43.382024
145     43.543082
713     43.554563
532     43.794977
Name: 241, dtype: float64

### Collaborative Filtering - Item based & User based

In [31]:
def item_cf(rating_matrix,similarity_matrix):
    return rating_matrix.dot(similarity_matrix)/ np.array([np.abs(similarity_matrix).sum(axis=1)])

item_pred = item_cf(df_matrix, item_similarity)

In [32]:
def user_cf(rating_matrix, similarity_matrix):
    mean_user_rating = rating_matrix.mean(axis=1)
    ratings_diff = (rating_matrix - mean_user_rating[:,np.newaxis])
    return mean_user_rating[:, np.newaxis] + similarity_matrix.dot(ratings_diff) / np.array([np.abs(similarity_matrix).sum(axis=1)]).T

user_pred = user_cf(df_matrix, user_similarity)

In [33]:
from sklearn.metrics import mean_squared_error
from math import sqrt

### RMSE Calculation

In [34]:
def rmse(prediction, actual):
    prediction = prediction[actual.nonzero()].flatten()
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, actual))

print 'User-based CF RMSE: ' + str(rmse(user_pred, df_matrix))
print 'Item-based CF RMSE: ' + str(rmse(item_pred, df_matrix))

User-based CF RMSE: 2.89323947274
Item-based CF RMSE: 3.26238705776

In [39]:
new_user_based = pd.DataFrame(user_pred)

#Predictions for movies that user 196 hasn't rated yet

predictions = new_user_based.loc[3, pd.DataFrame(df_matrix).loc[3,:]== 0]
top = predictions.sort_values(ascending=False).head()
recommendations = pd.DataFrame(data=top)
recommendations.columns = ['Predicted rating']
print recommendations

     Predicted rating
99           2.335339
180          2.277304
173          2.170532
97           2.008041
126          1.957705

In [45]:
new_item_based = pd.DataFrame(item_pred)

#Predictions for movies that user 196 hasn't rated yet

predictions = new_item_based.loc[195, pd.DataFrame(df_matrix).loc[195,:]== 0]
top = predictions.sort_values(ascending=False).head()
recommendations = pd.DataFrame(data=top)
recommendations.columns = ['Predicted rating']
print recommendations

      Predicted rating
1547          0.178476
1560          0.178476
1562          0.178476
1563          0.178476
1564          0.178476

### Model Based Collaborative Filtering

In [49]:
#calculate sparsity level

sparsity = round(1.0 - len(data)/float(n_users*n_items),3)
print 'The sparsity level of the matrix is ' + str(sparsity*100) + '%'

import scipy.sparse as sp
from scipy.sparse.linalg import svds

#Get SVD components from train matrix. Choose k

u,s, vt = svds(df_matrix, k=20)
s_diag_matrix = np.diag(s)
X_pred = np.dot(np.dot(u,s_diag_matrix), vt)


print 'User-based CF RMSE: ' + str(rmse(X_pred,df_matrix))

The sparsity level of the matrix is 93.7%
User-based CF MSE: 2.13180211304

In [51]:
new_user_based = pd.DataFrame(X_pred)

predictions = new_user_based.loc[195, pd.DataFrame(df_matrix).loc[195,:]== 0]
top = predictions.sort_values(ascending=False).head()
recommendations = pd.DataFrame(data=top)
recommendations.columns = ['Predicted rating']
print recommendations

     Predicted rating
215          1.604623
99           1.480465
207          1.454494
87           1.431871
731          1.325431